<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.bbbaden.ims.rezepteverwaltung">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MenuActivity" />
        <activity
            android:name=".activities.RezepteListActivity"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.RezepteSucheActivity"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.AddRezeptActivity"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.RezeptActivity"
            android:label="@string/title_activity_rezept"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.AddRezepteVariantenActivity"></activity>
        <activity
            android:name=".activities.barcode.BarcodeCaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>